<game>
  <path>./Magazines/{{ MAGAZINE_NAME }}/{{ MAGAZINE_FILE }}</path>
  <name>#{{ MAGAZINE_NUMBER }} - {{ MAGAZINE_DATE }}</name>
  <desc></desc>
  <rating></rating>
  <releasedate>{{ MAGAZINE_DATE | replace("-", "") }}01T000000</releasedate>
  <developer>Ultra Player</developer>
  <publisher>Ultra Player</publisher>
  <genre>Rétro</genre>
  <players>1</players>
  <image>./Magazines/{{ MAGAZINE_NAME }}/.data/{{ MAGAZINE_FILE | replace(".pdf", "") }}.jpeg</image>
</game>
