pkgname=('library-magazines-{{ MAGAZINE_NAME_CANON }}-{{ MAGAZINE_NUMBER }}')
_zine="{{ MAGAZINE_NAME }}"
pkgver=1
pkgrel=1
pkgdesc="{{ MAGAZINE_NAME }} N°{{ MAGAZINE_NUMBER }} - {{ MAGAZINE_DATE }}"
arch=('any')
url="{{ MAGAZINE_WEBSITE }}"
license=('All rights reserved')
groups=('sys-library')
source=(
  '{{ MAGAZINE_FILE }}'
  'description.xml'
)
sha1sums=('4e4074a261aa69789f263b3551544fe233531b1f'
          '6af2fab1acfcdb6b4680878c954787009ffe03fd')

build()
{
  gs -sstdout=/dev/null -dBATCH -dNOPAUSE -sDEVICE=jpeg -sOutputFile="${source[0]%.*}.jpeg" -dLastPage=1 "${source[0]}"
}
package()
{
  IFS=$'\n'
  mkdir -m 0700 -p "$pkgdir/userdata/library/Magazines/${_zine}/.data" \
                   "$pkgdir/userdata/system/pacman/batoexec/"
  install "${source[0]}" "$pkgdir/userdata/library/Magazines/${_zine}/"
  install -Dm600 {,"$pkgdir/userdata/library/Magazines/${_zine}/.data/"}"${source[0]%.*}.jpeg"
  echo "gamelist = library" >  "$pkgdir"/userdata/system/pacman/batoexec/${pkgname[0]}
  cat description.xml       >> "$pkgdir"/userdata/system/pacman/batoexec/${pkgname[0]}
}
